@charset "utf-8";
/* CSS Document */

		<style type="text/css">
             body{
    text-align: center;
    background-color:
;                 background-image: -webkit-linear-gradient(270deg,rgba(247,255,243,1.00) 0%,rgba(0,255,174,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(247,255,243,1.00) 0%,rgba(0,255,174,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(247,255,243,1.00) 0%,rgba(0,255,174,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(247,255,243,1.00) 0%,rgba(0,255,174,1.00) 100%);
}
             #header{width: 100%;height: 30px;}
             #main{width: 100%;height: 560px;}
             #left{width: 400px;height: 400px;float: left;border-radius:300px;background:url(file:///D|/HTML/12.jpg); }
             #center{
    width: 20%;
    height: 100%;
    float: left;
    /* [disabled]margin-left: 10px; */
}
             #right{
    width: 44%;
    height: 88%;
    float: left;
    background: url(file:///D|/HTML/a.gif);
    border-radius: 100px;
}
#main #right h4 {
    color: #FB9AC1;
    text-align: center;
}
#main #right video {
    text-align: right;
    border-right-width: thick;
}
             #footer{clear: both;width: 100%;height: 80px;}
             ul{list-style-type:none;margin:40;padding-bottom:100;width:800px;height:100%}
             a{display:block;background-color:#E3BDAA;color:black;width:160px;text-align:center;padding:25px;text-decoration:none;font-family: 幼圆;font-size: 18pt;border-radius:80px;}
             a:hover,a:active{background-color:#98bf21;}
             h5{
	text-indent:2em;		 
    font-size: 20pt;
    font-family: 幼圆;
    color: black;
    font-weight: bolder;
    width: 60%;
    background-repeat: repeat-y;
    display: list-item;
}
        #footer p {
    text-indent: 1040px;
}