@charset "utf-8";
/* CSS Document */
          body{
    text-align: center;
    background-color:
;                     background-image: -webkit-linear-gradient(270deg,rgba(252,255,153,1.00) 0%,rgba(0,255,174,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(252,255,153,1.00) 0%,rgba(0,255,174,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(252,255,153,1.00) 0%,rgba(0,255,174,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(252,255,153,1.00) 0%,rgba(0,255,174,1.00) 100%);
}
#main #left h1 {
}
             #header{width: 100%;height: 30px;}
             #main{width: 100%;height: 560px;}
             #left{width: 400px;height: 400px;float: left;border-radius:300px;background:url(file:///D|/HTML/12.jpg); }
             #center{
    width: 20%;
    height: 100%;
    float: left;
    /* [disabled]margin-left: 10px; */
}
           
             #footer{clear: both;width: 100%;height: 80px;}
             ul{list-style-type:none;margin:40;padding-bottom:100;width:800px;height:100%}
             a{
    display: block;
    background-color: #7EEF93;
    color: black;
    width: 160px;
    text-align: center;
    padding: 25px;
    text-decoration: none;
    font-family: 幼圆;
    font-size: 18pt;
    border-radius: 80px;
}
             a:hover,a:active{background-color:#98bf21;}
             h5{
	text-indent:2em;		 
    font-size: 20pt;
    font-family: 幼圆;
    color: black;
    font-weight: bolder;
    width: 60%;
    background-repeat: repeat-y;
    display: list-item;
}
#main #center h2 {
    padding-left: 10000px;
}
#main #center img {
    padding-left: 100px;
}
        #footer p {
    text-indent: 1040px;
}

        #main #right h1 {
    text-align: center;
    padding-top: 23px;
    padding-left: 30px;
}
        #main #center h1 {
}
#main #center h2 {
    padding-left: 150px;
}
        #main #left h1 {
    padding-top: 0px;
    padding-bottom: 10px;
    margin-left: 30px;
    float: none;
    opacity: 1;
}
        #main #right h2 {
    padding-top: 21px;
}
        #header h1 {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
}
        #main #left p {
    color: #9C1517;
    font-weight: 600;
}
        #main #center img {
    padding-left: 100px;
}
        #main #center p {
    color: #69D0E3;
    top: 100px;
    padding-top: 28px;
    font-style: oblique;
    padding-left: 100px;
}
        #main #right p {
    color: #F21659;
    padding-top: 46px;
    font-weight: bolder;
}
        #main #center p {
    padding-left: 0px;
    left: 10px;
    margin-left: 23px;
}
        #main #center h2 {
    padding-left: 100px;
    padding-right: 0px;
    padding-top: 1px;
}
        #main #right img {
    padding-left: 10px;
    padding-top: 10px;
}
